<%= link_to "Create new post" , new_post_path , class: "btn btn-info"%>
<%= link_to "Show Gallery" , photos_path , class: "btn btn-info"%>
<hr>
<div>
<% @posts.each do |post| %>
  <h1><%= link_to post.title, post_path(post.id) %></h1> 
  <div><%= sanitize post.body %></div> 
  
  <p>
  <%= image_tag post.user.avatar.url(:thumb), width: 30, heigth: 30 %>
  Author: <%= post.user.nickname %> | 
  Created at: <%= post.created_at %>
  </p>

  <% if current_user != nil and current_user.id == post.user_id %>
    <p><%= link_to "Edit", edit_post_path(post.id)%> |  
     <%= link_to "Delete", post_path(post.id), data: {confirm: 'Are you sure?'}, method: :delete %> </p>
  <%end%>
  <hr>
<%end %>
</div>